USE [n12update]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [nvarchar](20) NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advisor_classe_sections]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](200) NULL,
	[total_floors] [tinyint] NULL,
	[building_type] [varchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_sections]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[course_id] [uniqueidentifier] NULL,
	[semester_id] [uniqueidentifier] NULL,
	[academic_year] [nvarchar](20) NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[building_id] [uniqueidentifier] NULL,
	[max_students] [int] NOT NULL,
	[min_students] [int] NULL,
	[class_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[registration_start] [datetime2](7) NULL,
	[registration_end] [datetime2](7) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[credits] [decimal](5, 1) NULL,
	[course_type] [nvarchar](255) NULL,
	[theory_hours] [decimal](5, 1) NULL,
	[practice_hours] [decimal](5, 1) NULL,
	[self_study_hours] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[established_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](255) NULL,
	[salary_coefficient] [decimal](4, 2) NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_course_classes]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_course_classes](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[course_class_id] [uniqueidentifier] NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[action] [nvarchar](100) NULL,
	[table_name] [nvarchar](100) NULL,
	[record_id] [uniqueidentifier] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[ip_address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[effective_date] [varchar](20) NULL,
	[expiry_date] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[type_id] [uniqueidentifier] NULL,
	[target_role_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[level] [nvarchar](100) NULL,
	[department_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[building_id] [uniqueidentifier] NULL,
	[floor_floor_number] [int] NULL,
	[capacity] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[has_projector] [bit] NULL,
	[has_air_conditioner] [bit] NULL,
	[has_computer] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[day_of_week] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](50) NULL,
	[start_period] [int] NULL,
	[end_period] [int] NULL,
	[number_of_periods] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[mode] [nvarchar](100) NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[schedule_status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_years]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semesters]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semesters](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[school_year_id] [uniqueidentifier] NULL,
	[school_year_name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[id] [uniqueidentifier] NOT NULL,
	[key] [nvarchar](100) NULL,
	[value] [nvarchar](max) NULL,
	[description] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classe_sections]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classes]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classes](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_course_sections]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[registered_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[personal_identification_number] [varchar](20) NULL,
	[date_of_issue] [date] NULL,
	[card_place] [nvarchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[current_address] [nvarchar](300) NULL,
	[academic_year_year] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NULL,
	[student_classe_id] [uniqueidentifier] NULL,
	[admission_year] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_program_courses]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_program_courses](
	[id] [uniqueidentifier] NOT NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_code] [varchar](100) NULL,
	[course_name] [nvarchar](255) NULL,
	[semester_id] [uniqueidentifier] NULL,
	[semester_code] [nvarchar](100) NULL,
	[academic_year] [nvarchar](20) NULL,
	[is_required] [bit] NULL,
	[group_code] [nvarchar](50) NULL,
	[credits] [decimal](5, 1) NULL,
	[prerequisite_course_id] [uniqueidentifier] NULL,
	[is_prerequisite_required] [bit] NULL,
	[note] [nvarchar](500) NULL,
	[sort_order] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[major_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[degree_level] [nvarchar](50) NULL,
	[education_type] [nvarchar](50) NULL,
	[total_credits] [decimal](5, 1) NULL,
	[required_credits] [decimal](5, 1) NULL,
	[elective_credits] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[thesis_credits] [decimal](5, 1) NULL,
	[admission_year] [date] NULL,
	[duration_years] [decimal](5, 1) NULL,
	[max_duration_years] [decimal](5, 1) NULL,
	[effective_date] [date] NULL,
	[expiry_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[version] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_notifications]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_notifications](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[notification_id] [uniqueidentifier] NULL,
	[is_read] [bit] NULL,
	[read_at] [datetime2](7) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/1/2026 11:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'eece1249-3506-4dc8-8b8a-0495425e6a49', N'AY2017', N'Niên khóa 2017-2020', N'2017-2020', N'Niên khóa từ 2017 đến 2020', CAST(N'2017-09-01' AS Date), CAST(N'2020-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63b3f5ab-772b-43c1-8cdb-2cba1e8420a3', N'AY2031', N'Niên khóa 2031-2034', N'2031-2034', N'Niên khóa từ 2031 đến 2034', CAST(N'2031-09-01' AS Date), CAST(N'2034-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'49a45afd-8a3f-4163-b137-4bd659b24aa9', N'AY2021', N'Niên khóa 2021-2024', N'2021-2024', N'Niên khóa từ 2021 đến 2024', CAST(N'2021-09-01' AS Date), CAST(N'2024-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a835541a-f0e8-4766-84c2-0abd2bc77e1b', N'TT', N'Khoa Truyền thông', N'Đào tạo truyền thông đa phương tiện', CAST(N'2012-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3bfc60aa-62e8-4107-abf0-1a436c0b1349', N'NN', N'Khoa Ngoại ngữ', N'Đào tạo ngoại ngữ', CAST(N'2003-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'bc808290-ef1f-472a-b24e-1e4d19380b83', N'LOG', N'Khoa Logistics', N'Đào tạo logistics và chuỗi cung ứng', CAST(N'2016-01-01' AS Date), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[logs] ([id], [user_id], [action], [table_name], [record_id], [description], [created_at], [is_active], [updated_at], [deleted_at], [deleted_by], [updated_by], [ip_address]) VALUES (N'64dbd95f-ad04-4758-b7ce-69d802bdcd82', NULL, N'CREATE', N'employees', N'c388f606-b71d-4262-bfa3-a042220ac526', N'Tạo giảng viên/nhân viên: Nam Gamer', CAST(N'2026-04-28T17:51:32.9734665' AS DateTime2), 1, NULL, NULL, NULL, NULL, N'0:0:0:0:0:0:0:1')
INSERT [dbo].[logs] ([id], [user_id], [action], [table_name], [record_id], [description], [created_at], [is_active], [updated_at], [deleted_at], [deleted_by], [updated_by], [ip_address]) VALUES (N'cd75477d-099e-456b-9d43-6ef3a8a83980', NULL, N'UPDATE', N'employees', N'0be22c16-6e99-4d59-bbda-0208da75dbfb', N'Cập nhật bản ghi trong bảng [employees]: Vũ Quốc Bảo', CAST(N'2026-04-28T18:09:20.9898173' AS DateTime2), 1, NULL, NULL, NULL, NULL, N'0:0:0:0:0:0:0:1')
INSERT [dbo].[logs] ([id], [user_id], [action], [table_name], [record_id], [description], [created_at], [is_active], [updated_at], [deleted_at], [deleted_by], [updated_by], [ip_address]) VALUES (N'8cab6174-8e08-4401-8b58-777ea38087c4', NULL, N'UPDATE', N'students', N'643e5e51-a354-4ce4-b855-0896bc3f7a25', N'Cập nhật bản ghi trong bảng [students]: Sinh viên 44', CAST(N'2026-04-28T18:27:32.9913130' AS DateTime2), 1, NULL, NULL, NULL, NULL, N'0:0:0:0:0:0:0:1')
GO
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'94844a40-f7c5-47f0-864b-00ebe8d79154', N'5890f569-0f42-440b-8fa4-2e88f56fd8c5', N'MJ00017', N'Logistics và Quản lý chuỗi cung ứng 49', N'Ngành đào tạo chuyên sâu 31', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a110231c-019c-46f0-84f8-0205fc7679f8', N'c26c9041-030e-4459-af90-8e81dc2d21a9', N'MJ00023', N'Logistics và Quản lý chuỗi cung ứng 41', N'Ngành đào tạo chuyên sâu 8', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7470b351-d46b-49a2-a7aa-02c53385de85', N'96ee7061-516b-4a25-a787-3780c4bbe82c', N'MJ00033', N'Marketing 19', N'Ngành đào tạo chuyên sâu 38', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[notifications] ([id], [title], [content], [type_id], [target_role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a27233e7-0d05-4fc5-a401-40a206ac68c7', N'Thông báo khai giảng học kỳ mới', N'Trường thông báo khai giảng học kỳ II năm học 2025-2026 vào ngày 15/02/2026.', NULL, NULL, CAST(N'2026-04-28T14:07:13.6233333' AS DateTime2), CAST(N'2026-04-28T18:32:57.5863478' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[notifications] ([id], [title], [content], [type_id], [target_role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'926a9eb1-8aa5-4bb1-a743-58b5feb207e5', N'Thông báo nghỉ lễ 2/9', N'Trường sẽ nghỉ lễ từ ngày 1/9 đến hết 3/9.', NULL, NULL, CAST(N'2026-05-01T10:54:27.6733333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[notifications] ([id], [title], [content], [type_id], [target_role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'266e0e68-2f46-46e1-a781-72e556006c52', N'Thông báo đóng học phí', N'Hạn đóng học phí học kỳ 1 là ngày 15/9.', NULL, NULL, CAST(N'2026-05-01T10:54:27.6733333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'51c01684-ea1a-4bec-be77-065031935cb3', N'USER_VIEW', N'Xem danh sách người dùng', N'USER', N'Cho phép xem danh sách người dùng', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ea9282f5-90c3-4071-b89d-06a8e482d935', N'CLASS_APPROVE', N'Duyệt lớp học phần', N'CLASS', N'Duyệt mở lớp học phần', CAST(N'2026-04-02T13:41:42.2633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3007f48f-2b32-4d0f-b182-08355a33843f', N'ROLE_CREATE', N'Tạo vai trò', N'ROLE', N'Tạo mới vai trò', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6917d6aa-bb7f-4612-9e7c-04f0c174213b', N'GV', N'Giảng viên', N'Giảng dạy sinh viên', N'Nhân sự', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a0f31994-f76f-424c-81eb-0575790f68dc', N'AIENG', N'Kỹ sư AI', N'Phát triển AI', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fda6a4a1-2e36-4a8e-b519-125006a7aa95', N'TEST', N'Kiểm thử phần mềm', N'Tester', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ed2247d6-8e00-4ad5-85d1-00a67dac9252', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'6b2962cd-278d-4a81-a079-f020f1ae2e9e', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c007b5aa-a8b6-4c5b-a45a-02ee46118515', N'bc249543-2fe1-4fdd-bb6f-42a1982caea2', N'02653ecb-41d6-495b-aac0-d137b9340a45', CAST(N'2026-04-02T14:00:01.9600000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c3bbf4e-ac52-45da-b15c-09488debb179', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'b041cbbc-5469-476e-bea5-fcd6ae1f168a', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'891a6149-a667-4965-a9c1-2021df86f733', N'IT_SUPPORT', N'Nhân viên IT', N'Hỗ trợ kỹ thuật hệ thống', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7d5a7247-cb46-417c-b9f5-2be07823d938', N'STUDENT', N'Sinh viên', N'Đăng ký học phần và xem điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63da3dbc-c052-4ad4-9522-38f937646865', N'LECTURER', N'Giảng viên', N'Giảng dạy và nhập điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'24806991-3c90-4139-9e47-0e2ceaa05230', N'SY2030', N'Năm học 2030-2031', N'Năm học từ 2030 đến 2031', NULL, CAST(N'2030-09-01' AS Date), CAST(N'2031-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'115fd0d2-2578-4c46-9f0e-0f22f539805e', N'SY2016', N'Năm học 2016-2017', N'Năm học từ 2016 đến 2017', NULL, CAST(N'2016-09-01' AS Date), CAST(N'2017-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ade33bc3-1440-47fd-9a72-3c0a2f8e5813', N'SY2017', N'Năm học 2017-2018', N'Năm học từ 2017 đến 2018', NULL, CAST(N'2017-09-01' AS Date), CAST(N'2018-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e941f638-e0ae-48d8-b0a4-6c356af20048', NULL, N'Học kỳ 1 năm học 2014-2015', NULL, NULL, CAST(N'2014-09-01' AS Date), CAST(N'2015-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), CAST(N'2026-04-28T15:25:29.9623984' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'66112440-b80c-49b9-a774-ae728cd1731a', N'HK2_2014_2015', N'Học kỳ 2 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2015-01-16' AS Date), CAST(N'2015-06-30' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'HK1_2015_2016', N'Học kỳ 1 năm học 2015-2016', N'21f9301f-e941-480f-9e7c-aa527e5b3be4', N'Năm học 2015-2016', CAST(N'2015-09-01' AS Date), CAST(N'2016-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[settings] ([id], [key], [value], [description], [is_active], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by]) VALUES (N'8143a025-36de-48a3-bfc7-107ae6a2665c', N'max.credit', N'25', N'Số tín chỉ tối đa mỗi học kỳ', 1, CAST(N'2026-04-28T14:08:56.6500000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[settings] ([id], [key], [value], [description], [is_active], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by]) VALUES (N'5de31511-4e70-45a8-bad9-3439bf741b4e', N'allow.register', N'true', N'Cho phép đăng ký môn học', 1, CAST(N'2026-04-28T14:08:56.6500000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[settings] ([id], [key], [value], [description], [is_active], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by]) VALUES (N'93157fca-473e-4911-94c5-76c2e0f5ef57', N'system.name', N'Quản lý đào tạo', N'Tên hệ thống', 1, CAST(N'2026-04-28T14:08:56.6500000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[user_notifications] ([id], [user_id], [notification_id], [is_read], [read_at], [is_active], [created_at], [updated_at], [deleted_at], [deleted_by], [updated_by]) VALUES (N'b9d3aabd-6585-4b06-89aa-07c0002efe43', NULL, N'a27233e7-0d05-4fc5-a401-40a206ac68c7', 0, NULL, 1, CAST(N'2026-04-28T14:10:55.4866667' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[user_notifications] ([id], [user_id], [notification_id], [is_read], [read_at], [is_active], [created_at], [updated_at], [deleted_at], [deleted_by], [updated_by]) VALUES (N'a5a1a3b9-29ce-4c11-83c5-339f0740604f', NULL, N'8c7a4dbd-0946-404e-a829-da250774b44e', 1, CAST(N'2026-04-28T14:10:55.4900000' AS DateTime2), 1, CAST(N'2026-04-28T14:10:55.4900000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[user_notifications] ([id], [user_id], [notification_id], [is_read], [read_at], [is_active], [created_at], [updated_at], [deleted_at], [deleted_by], [updated_by]) VALUES (N'2dbcd07a-46e5-4076-a886-a3a4a0adc20b', NULL, N'01c1e95d-1bc5-43ae-adc2-c114289c8319', 0, NULL, 1, CAST(N'2026-04-28T14:10:55.4900000' AS DateTime2), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c415e13-19cf-493f-8e52-032fd22bc10a', N'user09', N'hash123', N'Trần Văn B4', N'user09@gmail.com', N'0900000009', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', N'user07', N'hash123', N'Trần Văn B2', N'user07@gmail.com', N'0900000007', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'0d2ad352-b053-42b2-ae91-0e9ecc17dc35', N'user35', N'hash123', N'User 35', N'user35@gmail.com', N'0900000035', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF9AE653346]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF91B1F62AC]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF9F16BF430]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__357D4CF9012F3CC8]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 5/1/2026 11:03:39 AM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((0)) FOR [min_students]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (N'open') FOR [status]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (N'lecturer') FOR [role]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'offline') FOR [mode]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('active') FOR [schedule_status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('studying') FOR [status]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_users]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_roles] FOREIGN KEY([target_role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_roles]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[user_notifications]  WITH CHECK ADD  CONSTRAINT [FK_user_notifications_notifications] FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
GO
ALTER TABLE [dbo].[user_notifications] CHECK CONSTRAINT [FK_user_notifications_notifications]
GO
ALTER TABLE [dbo].[user_notifications]  WITH CHECK ADD  CONSTRAINT [FK_user_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_notifications] CHECK CONSTRAINT [FK_user_notifications_users]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO
